body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: aqua;
}

@keyframes example {
  0% {background-color: red;}
  25% {background-color: yellow;}
  50% {background-color: blue;}
  100% {background-color: green;}
}

.container {
  animation-name: example;
  animation-duration: 4s;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

h1, h3 {
  animation: fadeIn 2s;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

form {
  animation: slideIn 2s;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007bff;
  color: white;
}
